body {
    background-color: #000;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Impede o scroll durante a intro */
}

body, p, h1, h2, h3, h4, h5, h6, .tooltip {
    font-family: 'Roboto', sans-serif;
}

#logo {
    max-width: 140px;
    margin-top: 20px;
}

#map-container {
    width: 100%;
    max-width: 1200px; /* Limite máximo para o tamanho do mapa */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Para permitir o posicionamento absoluto do pin dentro do mapa */
    margin: 0;
}

#world-map {
    width: 100%;
    height: auto; /* Ajuste automático da altura mantendo proporção */
    max-width: 90%;
    object-fit: contain;
    position: relative; /* Permite que os pins se posicionem relativamente ao mapa */
}

footer {
    background-color: #000000;
    color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px; /* Ajustar o padding para uma altura mais confortável */
    width: 100%;
    text-align: center;
    position: fixed; /* Garante que o footer fique fixo no final da página */
    bottom: 0; /* Posiciona na parte inferior */
    left: 0;
    z-index: 10; /* Certifique-se que está acima de outros elementos */
}

/*PIN*/
.pin {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #E81E25;
    border-radius: 50%;
    box-shadow: 0 0 50px 20px rgba(232, 30, 37, 1), 0 0 100px 40px rgba(232, 30, 37, 0.7); /* glow */
    transform: translate(-50%, -50%);
    border: 2px solid #ffffff; /* Borda branca para destaque */
    animation: glow 2s ease-in-out infinite; /* Animação de glow pulsante */
    cursor: pointer; /* Mostra que o elemento é clicável */
}

/* Posicionamento Responsivo dos Pins */
#about-pin {
    top: 42%;  /* Ajuste conforme necessário */
    left: 45.5%;
}

#projects-pin {
    top: 42%;  /* Ajuste conforme necessário */
    left: 28%;
}

#contacts-pin {
    top: 84%;  /* Ajuste conforme necessário */
    left: 90%;
}

/* Animação de Glow */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(232, 30, 37, 0.5);
    }
    50% {
        box-shadow: 0 0 30px rgba(232, 30, 37, 1);
    }
    100% {
        box-shadow: 0 0 10px rgba(232, 30, 37, 0.5);
    }
}

/* Balão de Conversa */
.balloon {
    position: absolute;
    top: -40px; /* Posiciona o balão acima do pin */
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    display: none; /* Esconde o balão inicialmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* Mostrar o Balão ao passar o mouse */
.pin:hover .balloon {
    display: block;
}

/* CSS para o Modal */
.modal-content {
    background-color: #2f2f2f;
    color: #f0f0f0;
}

.tooltip {
    position: absolute;
    background: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -150%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-size: 12px;
    z-index: 2;
}

.pin:hover + .tooltip {
    opacity: 1;
}

/* GIF INTRO */
#intro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 3s ease-in-out;
    overflow: hidden; /* Impede o conteúdo de vazar */
}

#intro-gif {
    max-width: 80%;
    max-height: 80%;
    transition: transform 3s ease-in-out, opacity 3s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Fundo de estrelas no site */
.starry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: -1;
}

/* Efeito de cintilação das estrelas */
.twinkling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: -1;
    animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

/* Carrossel ABOUT ME */
.modal-dialog.modal-xl {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#photo-carousel {
    flex: 1;
    max-width: 400px; /* Tamanho fixo para o carrossel */
    margin: 0 auto;
}

.carousel-inner img {
    width: 100%;
    height: 300px; /* Altura fixa para todas as imagens do carrossel */
    object-fit: cover;
    border-radius: 10px;
}

.modal-body > div:nth-child(2) {
    flex: 2;
    padding-left: 20px;
}

/* Responsividade para Mobile */
@media (max-width: 768px) {
    .modal-dialog.modal-xl {
        max-width: 100%;
        width: 95%;
    }
    .modal-body {
        flex-direction: column;
        text-align: center;
    }
    #photo-carousel {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .modal-body > div:nth-child(2) {
        padding-left: 0;
    }
}

/*Formatação do Model*/
#projectsModalLabel, #aboutMeModalLabel, #contactsModalLabel {
    text-align: center;
    width: 100%;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.project-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.project-circle {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 0 auto;
}

.project-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 100%;
}

.project-card.reverse {
    flex-direction: row-reverse;
}

.project-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.project-info {
    flex-grow: 1;
    text-align: center;
}

.project-info h6 {
    margin-bottom: 5px;
    font-weight: bold;
}

.project-info p {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-secondary {
    margin-top: 10px;
}

/* Responsividade para Mobile */
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
